@font-face {
    font-family: Uni-Neue-Demo;
    src: url(fonts/unineue-regular.otf);
}
@font-face {
    font-family: Uni-Neue-Demo-Strong;
    src: url(fonts/unineue-bold.otf);
} 
main{
    font-family: Uni-Neue-Demo;
}
.banner{
    position: relative;
    z-index: 1;
    width: 1350px;
    height: 100%;
    margin-bottom: 12px;
    box-sizing: content-box;
    
}
.banner img{
    max-width: 1350px;
}
.caminhao{
    display: inline-block;
    margin-left: 100px;
    border: 2px solid #000;
   
}
.caminhao .escrita{
    display: inline-block;
    
}
.cartao{
    display: inline-block;
    margin-left: 20%;
    border: 2px solid #000;
    left: 30%;
}
.mao{
    display: inline-block;
    margin-left: 20%;
    border: 2px solid #000;
}
.casa{
    display: inline-block;
    margin-left: 20%;
    margin-right: 10%;
    border: 2px solid #000;
}
